.App {
    background-image: url("http://sircinet.fiscaliaveracruz.gob.mx/CI/public/img/fge1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}